.wrap {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    grid-column: 1 / -1;
    margin-right: 30px;
}

@media (max-width: 767px) {
    .wrap {
        justify-content: center;
        margin: 0;
    }
}