.btn {
    display: block;
    width: fit-content;
    min-width: 45px;
    height: 45px;
    padding: 7px 30px;
    border-radius: 20px;
    
    background-color: var(--btn_color);
    transition: all 0.3s;

    color: #F2FCFF;
    font-size: 20px;
    font-weight: 700;
}

.btn:hover {
    background-color: var(--hover);
}

.btn:active {
    background-color: var(--btn_color);
}

@media (max-width: 767px) {
    .btn {
        min-width: 35px;
        height: 35px;
        padding: 3px 15px;
        font-size: 16px;
    }
}