.title {
    width: fit-content;
    margin: 0 auto 50px;
    font-size: 48px;
}

.form {
    width: 80vw;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background: var(--primary_color);

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.inp_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.inp_label {
    font-size: 24px;
    font-weight: 700;
    color: var(--text_color);

    display: flex;
    gap: 15px;
    align-items: center;   
}

.inp_label > * {
    flex: 1 auto;
}

.btn {
    margin: 0 auto;
}