.wrap {
    width: 30vw;
    /* height: 75vh; */
    padding: 40px;
    text-align: center;
}


.form {
    margin-bottom: 10px;
}

.title {
    color: var(--text_color);
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
}

.inp {
    margin-bottom: 20px;
}

.btn {
    width: 100%;
}

.redirect {
    font-size: 18px;
}

.redirect_link {
    font-size: 20px;
    color: var(--btn_color);
    transition: all 0.3s;
}

.redirect_link:hover {
    color: var(--hover);
    text-decoration: underline;
}