.navigation {
    display: flex;
    align-items: center;
    gap: 25px;
}

@media (max-width: 767px) {
    .navigation {
      display: none;
    }

    .burgerMenu {
        display: flex;
        flex-direction: column;
    }
  }

.link {
    font-size: 24px;
    transition: all 0.3s;
}

.link_active {
    color: var(--hover);
    font-weight: 700;
}

.link:hover {
    color: var(--hover);
}