.section {
    padding-top: 100px;
}

.wrap {
    display: grid;
    grid-template-columns: min(30vw, 400px) 1fr;
    row-gap: 20px;
}

.form {
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    background: var(--primary_color);
}

.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    font-size: 20px;
    color: var(--text_color);   
}

.btn_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {

    .section {
        padding-top: 70px;
    }

    .wrap {
        grid-template-columns: 1fr;
        gap: 40px
    }
}

@media (max-width: 767px) {
    .label {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .form {
        padding: 10px;
    }
}