.wrap {
    width: 450px;
    max-width: 100%;
    padding: 40px;
    text-align: center;
}

.form {
    margin-bottom: 10px;
}

.title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
}

.inp {
    margin-bottom: 20px;
}

.btn {
    width: 100%;
}

.redirect {
    font-size: 18px;
}

.redirect_link {
    font-size: 20px;
    color: var(--text_color);
    transition: all 0.3s;
}

.redirect_link:hover {
    color: var(--hover);
    text-decoration: underline;
}

@media (max-width: 767px) {
    .wrap {
        padding: 25px;
    }

    .title {
        font-size: 30px;
    }

    .redirect {
        font-size: 16px;
    }

    .redirect_link {
        font-size: 18px;
    }
}